/* body {
    background-color:  rgb(243, 247, 118);
    font-family: Impact, Charcoal, sans-serif;
}
.os {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    border: 3px solid #1d0662;
    border-radius: 50px;
    margin: 30px 250px;
    padding: 20px 20px;
    height: 80vh; 
}
.chet {
    font-size: 250px;
    color: #1d0662;
    margin: 0;
}
mark {
    background-color: rgb(243, 247, 118);
    color: #6495ED;
    margin-left: -45px;
}
.chet2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chet3 {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border: 3px solid #1d0662;
    border-radius: 8px;
    background-color: #1d0662;
    padding: 10px;
} */